.carousel-cv{
    display:block;
    position:relative;
    justify-content:center;
    align-items:center;
    width:400px;
    height:350px;
    background:none;
    transform-style:preserve-3d;
    margin:0 auto;
    padding:0;
}
.carousel-inner{
    display:block;
    position: absolute;
    justify-content:center;
    align-items:center;
    height:400px;
    background:none;
    transform-style:preserve-3d;

    /*position:relative;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    transition:1.5s;
    transform:perspective(1000px) rotateY(0deg);*/
}
.carousel-item{
    position:relative;
    width:355px;
    height:300px;
    transform-style:preserve-3d;
    transition:1.5s;
    transform:perspective(1000px) rotateY(0deg);

    align-items: center;
    justify-content: center;
    /*position:absolute;
    width:200px;
    height:200px;
    transform-style:preserve-3d;
    transition:1.5s;
    transform:perspective(1000px) rotateY(0deg);*/
}
.carousel-item img{
    position: relative;
    width:355px;
    height:300px;
    margin:0 auto;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.carousel-item span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    /*transform:rotateY(calc(var(--i) * 45deg)) translateZ(300px);*/
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,#0004);
    -webkit-box-reflect:below 0px linear-gradient(transparent,#0004);
}
.carousel-item span img{
    position:relative;
    user-select:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition: 0.6s;
}
.carousel-item .carousel-caption{
    display: inline-block;
    position:absolute;
    margin:0 auto;
    padding:17px 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carousel-item .carousel-caption h5{
    bottom:3px;
    font-size:1.1em;
    font-weight:600;
    text-align:center;
}
.carousel-item .carousel-caption span{
    color:#0e0255;
    font-weight:900;
}
.btns{
    position:absolute;
    bottom:99px;
    display:flex;
    gap:30px;
}
/*.carousel-cv .carousel-control-next .carousel-control-next-icon .visually-hidden{
    content:'';
    background:#000;
}
.carousel-control-prev, .carousel-control-next{
    content:'';
}
*/
/*
.control-next .carousel-control-next .carousel-control-next-icon .visually-hidden,
.control-prev .carousel-control-prev .carousel-control-prev-icon .visually-hidden{
    content:'';
    background:#000;
}*/
.carousel-control-prev{
    left:-19px;
}
.carousel-control-next{
    right:0px;
}
.carousel-control-prev,
.carousel-control-next{
    content:'';
    position:absolute;
    width:60px;
    height:60px;
    top:299px;
    border:6px  solid #000;
    border-radius:50%;
    display:flex;
    justify-content:center;
    text-decoration: none;
    align-items:center;
    cursor:pointer;
    z-index: 1000;
    margin:0 16px 0 0;
}
.carousel-control-prev:active,
.carousel-control-next:active{
    background:#fff;
    color:#000;
}
.carousel-control-prev:before,
.carousel-control-next:before{
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    transform:rotate(45deg) translate(-2.5px, 2.5px);
}

.carousel-control-prev::before{
    transform:rotate(225deg) translate(-2.5px, 2.5px);
}
.carousel-control-prev:active::before{
    border-top:3px solid #000;
    border-right:3px solid #000;
}
/*.control-next .carousel-control-next .carousel-control-next-icon .visually-hidden,
.control-prev .carousel-control-prev .carousel-control-prev-icon .visually-hidden{
    content:'';
    background:#000;
}*/
.visually-hidden{content:'';display:none;}
.carousel-indicators{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1000;
}

@media(max-width:980px){
    
}
@media(max-width:650px){
    .carousel-cv{
        width:250px;height:250px;margin:0;padding:0;
    }
    .carousel-inner{
        height:250px;
    }
    .carousel-item{
        position:relative;
        width:250px;
        height:250px;
        align-items:center;
        justify-content:center;
    }
    .carousel-item img{
        position: relative;
        width:100%;
        height:100%;
        margin:0 auto;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    .carousel-item .carousel-caption h5{
        bottom:3px;
        font-size:.9em;
        font-weight:600;
    }
    .carousel-item .carousel-caption span{
        font-weight:700;
    }
    .carousel-control-prev{
        left:-3px;
    }
    .carousel-control-next{
        right:-15px;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width:35px;
        height:35px;
        top:280px;
        border:2px  solid #000;
    }
}
@media(max-width:480px){
    .carousel-cv{
        width:200px;height:200px;margin:0;padding:0;
    }
    .carousel-inner{
        height:200px;
    }
    .carousel-item{
        width:200px;
        height:200px;
        align-items:center;
        justify-content:center;
    }
    .carousel-item img{
        width:100%;
        height:100%;
        margin:0;
        border-top-left-radius:6px;
        border-top-right-radius:6px;
    }
    .carousel-item .carousel-caption h5{
        bottom:3px;
        font-size:.7em;
        font-weight:700;
    }
    .carousel-item .carousel-caption span{
        font-weight:700;
    }
    .carousel-control-prev{
        left:-3px;
    }
    .carousel-control-next{
        right:0px;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width:35px;
        height:35px;
        top:280px;
        border:2px  solid #000;
    }
}