.center{
    width:40%;
    height: auto;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:0 19px;
    background:none;
    box-sizing:border-box;
    box-shadow:0 19px 50px rgba(0,0,0,.5);
}
.center h1{
    margin:0;
    padding:0;
    text-transform:uppercase;
    text-align: center;
    font-weight: 700;
    color:#000;
    letter-spacing:6px;
}
.skillsBox{
    box-sizing:border-box;
    width:100%;
    margin:19px 0;
}
.skillsBox p{
    color:#000000;
    text-transform:uppercase;
    margin:6px 0 0;
    padding:0;
    font-weight:bold;
    letter-spacing:6px;
    font-size: 1.1em;
    font-weight: 900;
}
.skillsBox p:nth-child(2){
    float:right;
    position:relative;
    top:-25px;
}
.skill{
    background:#262626;
    padding:4px;
    box-sizing:border-box;
    border:1px solid #0fffb7;
    border-radius:3px;
}
.skill_level{
    background:#0fffb7;
    width:100%;
    height:9px;
}

@media(max-width:980px){
    .center{
        width:40%;
        height: auto;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding:0 19px;
        background:none;
        box-sizing:border-box;
        box-shadow:0 19px 50px rgba(0,0,0,.5);
    }
    .center h1{
        font-size:1.1em;
        font-weight: 900;
        letter-spacing:3px;
    }
    .skillsBox{
        box-sizing:border-box;
        width:100%;
        margin:16px 0;
    }
    .skillsBox p{
        margin:6px 0 0;
        padding:0;
        letter-spacing:3px;
        font-size: .9em;
        font-weight: 600;
    }
    .skillsBox p:nth-child(2){
        float:right;
        position:relative;
        top:-25px;
    }
    .skill{
        padding:3px;
        box-sizing:border-box;
        border-radius:2px;
    }
    .skill_level{
        width:100%;
        height:7px;
    }
}
@media(max-width:711px){
    .center{
        width:40%;
        height: auto;
        position:relative;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        padding:0 19px;
        background:none;
        box-sizing:border-box;
        box-shadow:0 19px 50px rgba(0,0,0,.5);
    }
    .center h1{
        font-size:1em;
        font-weight: 900;
        letter-spacing:3px;
        overflow-x: hidden;
    }
    .skillsBox{
        box-sizing:border-box;
        width:100%;
        margin:16px 0;
    }
    .skillsBox p{
        margin:6px 0 0;
        padding:0;
        letter-spacing:1px;
        font-size: .9em;
        font-weight: 700;
    }
    .skillsBox p:nth-child(2){
        font-weight:700;
    }
    .skill{
        padding:3px;
        border-radius:2px;
    }
    .skill_level{
        height:7px;
    }
}