.displayCup{
    /*left:50%;
    top:75%;
    transform: translate(-50%,-50%);
    display: block;*/
    touch-action: none;
    margin: 33px auto 0;
}
.displayCup.containerCup{
    margin:0;
    top:16px;
    bottom: 17px;
    background: none;
    position:relative;
    user-select:none;
    transform:translateX(50%);
    align-items: center;
    justify-content: center;
}
.containerCup .textoPromocion{
    position: relative;
    display: block;
    top:66px;
    bottom:0;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containerCup .cup{
    position:relative;
    width:280px;
    height:300px;
    left:27%;
    background:linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius:45%;
    border-bottom-right-radius:45%;
}
.containerCup .cup .top{
    position:absolute;
    top:-30px;
    left:0;
    width:100%;
    height:60px;
    background:linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius:50%;
}
.containerCup .cup .top .circle{
    position:absolute;
    top:5px;
    left:10px;
    width:calc(100% - 20px);
    height:50px;
    background:linear-gradient(to left,#f9f9f9, #d9d9d9);
    border-radius:50%;
    box-sizing:border-box;
    overflow:hidden;
}
.containerCup .cup .top .circle .tea{
    position:absolute;
    top:20px;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(#c57e65, #e28462);
    border-radius:50%;
}
.containerCup .cup .handle{
    position:absolute;
    right:-70px;
    top:40px;
    width:160px;
    height:180px;
    border:25px solid #dcdcdc;
    border-left:25px solid transparent;
    border-bottom:25px solid transparent;
    border-radius:50%;
    transform:rotate(42deg);
}
.containerCup .plate{
    position:absolute;
    bottom:166px;
    left:45%;
    transform:translateX(-50%);
    width:500px;
    height:200px;
    background:linear-gradient(to right, #f9f9f9, #e7e7e7);
    border-radius:50%;
    box-shadow:0 35px 35px rgba(0,0,0,0.2);
}
.containerCup .plate:before{
    content:'';
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-radius:50%;
    background:linear-gradient(to left, #f9f9f9, #e7e7e7);
}
.containerCup .plate:after{
    content:'';
    position:absolute;
    top:30px;
    left:30px;
    right:30px;
    bottom:30px;
    border-radius:50%;
    background:radial-gradient(rgba(0,0,0,0.2) 25%, transparent,transparent );
    border-radius:50%;
}
.containerCup .vapour{
    position:relative;
    display:flex;
    z-index:1;
    padding:0 20px;
}
.containerCup .vapour span{
    position:relative;
    bottom:50px;
    display:block;
    margin:0 2px 50px;
    min-width:8px;
    height:120px;
    background:#25ffffc2;
    border-radius:50%;
    animation:animateVapour 5s linear infinite;
    opacity:0;
    filter:blur(9px);
    animation-delay:calc(var(--i) * 0.5s);
}
@keyframes animateVapour{
    0%{
        transform:translateY(0) scaleX(1);
        opacity:0;
    }
    15%{
        opacity:1;
    }
    50%{
        transform:translateY(-150px) scaleX(5);
        opacity:1;
    }
    95%{
        opacity:0;
    }
    100%{
        transform:translateY(-300px) scaleX(10);
    }
}

.displayCup .centerLapiz{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-25deg);
}
.displayCup .lapiz{
    width:333px;
    height:33px;
    background:#ffc334;
    border-top:10px solid #ffd268;
    border-bottom:10px solid #e2af38;
}
.displayCup .lapiz p{
    margin:0;
    margin-right:31px;
    padding:0;
    text-align:right;
    font-size:.9em;
    font-weight:600;
    letter-spacing:3px;
    text-transform:uppercase;
    color:#000;
    line-height:16px;
}
.displayCup .lapiz:before{
    content:'';
    position:absolute;
    left:-80px;
    top:0;
    border-style:solid;
    border-color:transparent #e29663 transparent transparent;
    border-width:17px 40px 17px;
}
.displayCup .lapiz:after{
    content:'';
    position:absolute;
    left:-80px;
    top:0;
    border-style:solid;
    border-color:transparent #262626 transparent transparent;
    border-width:17px 40px 17px;
    transform:scale(.3);
}
.displayCup .topLapiz{
    position:absolute;
    top:0;
    right:0;
    height:33px;
    width:30px;
    background:#ccc;
    border-top:10px solid #dedede;
    border-bottom:10px solid #b9bfbf;
}
.displayCup .topLapiz:before{
    content:'';
    position:absolute;
    top:-10px;
    width:150%;
    right:-100%;
    height:33px;
    background:#d76f6e;
    border-top:10px solid #da8e8d;
    border-bottom:10px solid #c85957;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

@media(max-width:990px){
    .containerCup .cup{
        width:250px;
        height:200px;
        left:17px;
        border-bottom-left-radius:45%;
        border-bottom-right-radius:45%;
    }
    .containerCup .cup .handle{
        right:-50px;
        top:16px;
        width:120px;
        height:100px;
        border:25px solid #dcdcdc;
        border-left:19px solid transparent;
        border-bottom:25px solid transparent;
        border-radius:50%;
        transform:rotate(45deg);
    }
    .displayCup .containerCup .plate{display:none;}
    .displayCup .centerLapiz{
        top:20%;
        left:50%;
        transform:translate(-50%,-50%) rotate(-55deg);
    }
    .containerCup .textoPromocion{
        font-size: 1em;
        font-weight: 200;
        text-align: justify;
        letter-spacing: 2px;
    }
    .displayCup .lapiz{
        width:250px;
        height:25px;
        background:#ffc334;
        border-top:10px solid #ffd268;
        border-bottom:10px solid #e2af38;
    }
    .displayCup .lapiz:before{
        left:-80px;
        border-color:transparent #e29663 transparent transparent;
        border-width:13px 40px 13px;
    }
    .displayCup .lapiz:after{
        content:'';
        position:absolute;
        left:-80px;
        top:0;
        border-style:solid;
        border-color:transparent #262626 transparent transparent;
        border-width:13px 40px 13px;
        transform:scale(.2);
    }
    .displayCup .topLapiz{
        height:25px;
        width:30px;
    }
    .displayCup .topLapiz:before{
        width:150%;
        right:-100%;
        height:25px;
        background:#d76f6e;
        border-top:10px solid #da8e8d;
        border-bottom:10px solid #c85957;
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
    }
}
@media(max-width:333px){
    .containerCup .cup{
        width:200px;
        height:150px;
        left:17px;
        border-bottom-left-radius:45%;
        border-bottom-right-radius:45%;
    }
    .containerCup .cup .handle{
        right:-45px;
        top:16px;
        width:90px;
        height:25px;
        border:19px solid #dcdcdc;
        border-left:13px solid transparent;
        border-bottom:13px solid transparent;
        border-radius:50%;
        transform:rotate(60deg);
    }
    .containerCup .textoPromocion{
        font-size: .9em;
        font-weight: 100;
        text-align: justify;
        letter-spacing:1px;
    }
    .displayCup .centerLapiz{
        top:20%;
        left:50%;
        transform:translate(-50%,-50%) rotate(-55deg);
    }
    .displayCup .lapiz{
        width:250px;
        height:25px;
        background:#ffc334;
        border-top:10px solid #ffd268;
        border-bottom:10px solid #e2af38;
    }
    .displayCup .lapiz:before{
        left:-80px;
        border-color:transparent #e29663 transparent transparent;
        border-width:13px 40px 13px;
    }
    .displayCup .lapiz:after{
        content:'';
        position:absolute;
        left:-80px;
        top:0;
        border-style:solid;
        border-color:transparent #262626 transparent transparent;
        border-width:13px 40px 13px;
        transform:scale(.2);
    }
    .displayCup .topLapiz:before{
        width:150%;
        right:-100%;
        height:25px;
        background:#d76f6e;
        border-top:10px solid #da8e8d;
        border-bottom:10px solid #c85957;
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
    }
}
